SHOW_TERMINAL=false
MAIN_PAGE=ui/pages/index.html
TITLE=Techtoby OS
AUTHOR=dummtoby
ICON=icon.ico
VERSION=1.1
SPLASH_SCREEN=false
TITLEBAR_COLOR=transparent
CAN_CLOSE=true
CAN_MINIMIZE=false
CAN_MAXIMIZE=false
TITLEBAR=false
DRAG_BACKGROUND=true
WINDOW_WIDTH=1600
WINDOW_HEIGHT=900
CORNER_RADIUS=9
DEVTOOLS=false
DEFAULT_CONTEXTUAL_MENU=false